# Сделать так, чтобы Git никогда не менял окончания строк в батниках
*.bat text eol=crlf
*.cmd text eol=crlf

# Для остальных файлов можно оставить стандартное поведение (авто-конвертация)
* text=auto
